<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Todo App</title>
    <style>
      /**
       * Block-Element-Modifer (BEM)
       */
      .todo--complete {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>The Todo App!</h1>

      <form v-on:submit.prevent="addTodo()">
        <label for="newTodoText">New Todo:</label>
        <input type="text" v-model="newTodoText" />
        <button type="submit">Add Todo!</button>
      </form>

      <button v-on:click="toggleFilter()">Toggle Filter</button>

      <ul>
        <!-- todo items go here -->
        <li
          v-for="todo in todos"
          v-bind:class="{ 'todo--complete': todo.isComplete() }"
          v-on:click="toggleComplete( todo )"
          >
          {{ todo.getTitle() }}
        </li>
      </ul>
    </div>

    <script src="/static/bundle.js"></script>
  </body>
</html>

