<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Todo App</title>
    <style>
      /**
       * Block-Element-Modifer (BEM)
       */
      .todo--complete {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body ng-controller="TodoController as ctrl">
    <h1>The Todo App!</h1>

    <form ng-submit="ctrl.addTodo()">
      <label for="newTodoText">New Todo:</label>
      <input type="text" ng-model="ctrl.newTodoText" />
      <button type="submit">Add Todo!</button>
    </form>

    <button ng-click="ctrl.toggleFilter()">Toggle Filter</button>

    <ul>
      <li
        ng-repeat="todo in ctrl.state.todos"
        ng-click="ctrl.toggleComplete( todo )"
        ng-class="{ 'todo--complete': todo.isComplete() }"
        >
        {{todo.getTitle()}}
      </li>
    </ul>

    <script src="/static/bundle.js"></script>
  </body>
</html>

